.inputDiv{
    height: 40px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#i{
    width: 500px;
    border-radius: 10px;
}
.App{
    margin-left: 60px;
    margin-right: 60px;
}